/* @font-face {
    font-family: 'submitFont';
    src: url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
} */
/* 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Libre+Baskerville:wght@700&display=swap');

body {
    border: solid black 4px;
    background-color: rgba(255, 255, 255, 1);;
    background-image: url('../images/artem-demura-lost-city.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    font-family: 'Libre Baskerville', serif;
    color: rgba(255, 255, 255, opacity1)
}

.journal-input-container {
    display: flex;
    justify-content: center;
}

.journal-input {
    display: flex;
    width: 30%; 
    align-items: center;
    flex-direction: column;
    max-width: 50em;
    margin-bottom: .5em;
}

.intro {
    font-size: x-large;
    width: 50%;
    margin-left: .5em;
}

.input-column fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: .5em;
    color: rgba(255, 255, 255, 1);;
    opacity: .9;
    background-color: black;
    border: 5px black solid;
    border-radius: .5em;
}

.input-column {
    display: flex;
    justify-content: center;
}

.logo{
    min-width: 25em;
    min-height: 20em;
    width: 25em;
    height: 20em;
    padding: 0;
    margin: 0;
    display: flex;
    opacity: .9;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-variant-caps: all-small-caps;
}

textarea {
    resize: vertical;
    background-color: black;
    border: none;
    color: rgba(255, 255, 255, 1);
    outline: none;
}

select {
    background-color: black;
    color: rgba(255, 255, 255, 1);
    outline: none;
    border: none;
}

#journalDate {
    outline: none;
    border: none;
    background-color: black;
    color:rgba(255, 255, 255, 1);
}

textarea:focus{
    border: #b2beb5 double 1px;
    border-radius: 2px;
}

input[type=button] {
    height: 2.5em;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    font-family: 'submitFont;';
    font-weight: bold;
}

/* input[type=button]{
    background-color: #0C0404;
    border: 2px black solid;
    color: #A7171A;
    font-family: 'submitFont;';
    font-weight: bold;
    height: 2.5em;
} */

.record-button {
    margin-left: 0;
    margin-top: -.5em;
}

.entries-column {
    color: rgba(255, 255, 255, 1);;
    opacity: .8;
    font-size:xx-large;
    background-color: black;
    border: 5px black solid;
    border-radius: 10px;
    padding: .3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    margin: .5em;
    margin-bottom: .5em;
    padding: .5em;
    width: 25em;
}

.journal-entries {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.section-title {
    margin-left: .5em;
    margin-top: 0;
    color: rgba(255, 255, 255, 1);;
    font-size:xx-large;
    opacity: .8;
    border-radius: .5em;
    padding: .3em;
}

.entries-column h4 {
    margin-bottom: 0
}

.journal-filter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    text-align: center;
    color: whitesmoke;
    font-variant-caps: all-small-caps;
    font-size: large;
    background-color: black;
}

footer a {
    color:  rgba(255, 255, 255, 1);
}